/* Footer */

//### Create
//+++

@mixin footer-part {
    footer {
        padding: 1rem 0;
        @include print {
            display: none;
        }
        section{
            div{
                display: flex;
                @include desktopMixEx{
                    display: inline-flex;
                }
            }
            > div{
                 &:last-child{
                     a{
                         margin-right: 0;
                     }
                }
            }
        }
        a {
            display: flex;
            padding: 0.65rem 0;
            align-items: center;
            transition: color 400ms;
            font-weight: 500;
            font-size: 1.1rem;
            cursor: pointer;
            flex: 1;
            @include desktop {
                font-size: 0.95rem;
            }
            @include desktopMixEx {
                display: inline-flex;
                margin-right: 2rem;
                padding: 0;
            }
            &:hover,
            &:active {
                color: $baseAltColor;
                .icon {
                    fill: $baseAltColor;
                }
            }
            .icon {
                transition: fill 600ms;
                margin-right: 1rem;
                @include desktopMixEx {
                    margin-right: 0.4rem;
                }
                @include desktop {
                    height: 1.2rem;
                    width: 1.15rem;
                }
            }
        }
    }
}
//---
//### Attach
//+++

@include footer-part;

//---

