/* main-index */

//### Create
//+++

@mixin main-index-part {
    main {
        padding-top: $barHeightMob;
        flex: 1;
        @include tablet {
            padding-top: $barHeightTab;
            padding-bottom: 2rem;
        }
        @include desktop {
            padding-top: $barHeight;
        }
        @include print {
            padding-top: 0;
        }
        div[box] {
            margin-top: 1rem;
            @include desktopMixEx {
                margin-top: 1.5rem;
            }
        }
        section.gameList {
            padding-top: 1rem;
            @include desktopMixEx{
                padding-top: 1.5rem;
            }
            >div {
                padding: 0 1.5rem;
            }
        }
    }
    .aboutContainer {
        display: flex;
        p {
            display: block;
            padding: 1rem 0;
        }
    }
    #about {
        display: inline-flex;
        align-items: center;
        padding: 1rem;
        @include print {
            display: none;
        }
        &.close {
            display: none;
        }
    }
    #aboutClose {
        @include print {
            display: none;
        }
    }
}

//---
//### Attach
//+++

@include main-index-part;

//---