/*-------------------- dependencies*/

@import "./dependencies/functions";
@import "./dependencies/colors";

//-------------------- global variables//
$baseFont: 'Roboto', Courier New;
$baseColor: #2d2d2d;
$baseAltColor: $ios-blue;
$dullColor: #f4f4f4;
$fontColor: $ios-charcoal;
$fontAltColor: lighten($ios-charcoal,30%);

$disableColor: #dcdcdc;

$uiYellow: $flat-sunFlower;

$cheatEssentials: #eaeaea;
$cheatHealth: $flat-alizarin;
$cheatWanted: #424c95;
$cheatWeapons: $flat-amethyst;
$cheatVehicles: $flat-belizeHole;
$cheatGameplay: $flat-emerald;
$cheatWeather: $flat-sunFlower;
$cheatMisc: $flat-turquoise;
//user defined//
$barHeight: px(60);
$barHeightTab: px(80);
$barHeightMob: $barHeight;

/*-------------------- common stuff*/

@mixin mainPadding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
    @include tablet{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    
    @include desktop{
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
}


@mixin flexMiddle {
    display: flex;
    justify-content: center;
    align-items: center;
}
%flexMiddle {
    display: flex;
    justify-content: center;
    align-items: center;
}
%flex {
    display: flex;
}
%flexInline {
    display: inline-flex;
}
.dbi {
    display: block !important;
}
@mixin dbi {
    display: block !important;
}

/*-------------------- user defined stuff*/


// cardLayout
@mixin cardLayout{
    box-shadow: px(1) px(1) px(6) #b9b9b9;
    padding: 2rem 1rem;
    background-color: #fdfdfd;
}
