/*-------------------- dependencies*/

@import "dependencies/_functions";
@import "dependencies/_colors";
//-------------------- global variables//
$baseFont: 'Roboto', Courier New;
$baseColor: #2d2d2d;
$baseAltColor: #fff;
$dullColor: #f4f4f4;
$fontColor: $ios-charcoal;
$fontAltColor: lighten($ios-charcoal,30%);

$uiYellow: $flat-sunFlower;

$cheatEssentials: #eaeaea;
$cheatHealth: $flat-alizarin;
$cheatWanted: #424c95;
$cheatWeapons: $flat-amethyst;
$cheatVehicles: $flat-belizeHole;
$cheatGameplay: $flat-emerald;
$cheatWeather: $flat-sunFlower;
$cheatMisc: $flat-turquoise;
//user defined//
$barHeight: px(60);
$barHeightTab: px(80);
$barHeightMob: $barHeight;

/*-------------------- common stuff*/

@mixin mainPadding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
    @include tablet{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    
    @include desktop{
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
}


@mixin flexMiddle {
    display: flex;
    justify-content: center;
    align-items: center;
}
%flexMiddle {
    display: flex;
    justify-content: center;
    align-items: center;
}
%flex {
    display: flex;
}
%flexInline {
    display: inline-flex;
}
.dbi {
    display: block !important;
}
@mixin dbi {
    display: block !important;
}

/*-------------------- user defined stuff*/

@mixin resetAll {
    body {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
    }
    * {
        box-sizing: border-box;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    button {
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        margin: 0;
        padding: 0;
        border: none;
        outline: 0;
        background: none;
    }
    a {
        text-decoration: none;
        margin: 0;
        color: inherit;
    }
    ul,
    ol,
    li {
        text-decoration: none;
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline-block;
    }
    :focus {
        outline: 0;
    }
}

// cardLayout
@mixin cardLayout{
    box-shadow: px(1) px(1) px(6) #b9b9b9;
    padding: 1rem;
    padding-bottom: 2rem;
    background-color: #fdfdfd;
}
