main {
    .headerImage {
        width: 100%;
        height: px(120);
        background-size: cover;
        background-position: center;
        background-color: $baseColor;
        @include tabletPortrait {
            height: px(350);
        }
        @include desktopMix {
            background-size: contain;
            background-repeat: no-repeat;
        }
        @include tabletLandscape {
            height: px(200);
        }
        @include desktop {
            height: px(150);
        }
    }
}
#mainContainer {
    &.hide {
        display: none;
    }
}
#gameContainer {
    display: none;
    margin-top: 1rem;
    padding: 0;
    @include desktopMix {
        margin-top: 2rem;
    }
    @include tabletLandscape {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    @include desktop {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
    @include print{
        margin-top: 0;
        max-width: initial; 
    }
    &.show {
        display: flex;
    }
    &.cheats {
        .cheatGroupHolder {
            flex-direction: column;
        }
        .cheatGroupSubHolder {
            width: 100% !important;
        }
        a[data-cheatgroup] {}
    }
    article {
        .gameHeader {
            @include desktopMix {}
        }
        .gameBanner {
            display: flex;
            align-items: center;
            padding-bottom: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
            @include desktopMix {
                justify-content: center;
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 1.3rem;
            }
            @include print{              
                position: absolute;
                width: 100%;
                height: $barHeightMob;
                justify-content: flex-end;
                align-items: center;
                top: 0;
                left: 0;
                padding: 0 1.5rem;
            }
        }
        .gameImage {
            $dimentions: 3.5rem;
            height: $dimentions;
            width: $dimentions;
            background-color: #000000;
            display: inline-flex;
            border-radius: 100%;
            border: px(3) solid #000000;
            @include desktopMix {
                $dimentions: 4rem;
                height: $dimentions;
                width: $dimentions;
                border: px(2) solid #000000;
            }
            @include print{
              position: absolute;
              top: 0;
              left: calc(50% - 1.75rem);
              margin-top: 0.1rem;
            }
            img {
                width: 100%;
                height: auto;
                border-radius: 100%;
            }
        }
        .gameTitle {
            margin-left: 1rem;
            font-size: 1.25rem;
            @include desktopMixEx {
                font-weight: 500;
                font-size: 1.9rem;
                line-height: 2.6rem;
            }
            @include print{
                color: #fff;
                text-transform: uppercase;
            }
        }
    }
    .cheatGroupHolder {}
    .cheatGroupSubHolder {
        &.hide {
            display: none;
        }
        &.expand {
            @include desktopMixEx {
                @include cardLayout;
                padding-left: 0;
                padding-right: 0;
                padding-top: 0;
                padding-bottom: 0;
            }
            @include desktop {
                margin-bottom: 2rem;
            }
            a[data-cheatgroup] {
                cursor: default;
                padding: 0.5rem 1rem;
                transition: all 400ms;
                @include desktop {
                    padding: 0.3rem 1rem;
                }
                h5 {
                    font-size: 1.1rem;
                    @include desktop {
                        font-size: 0.9rem;
                    }
                }
                .icon {
                    $dimentions: 1rem;
                    height: $dimentions;
                    width: $dimentions;
                }
            }
            a[data-cheatall] {
                display: none;
            }
            .cheatTable {
                display: block;
                @include desktop {
                    display: table;
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
    a[data-cheatgroup],
    a[data-cheatall] {
        display: flex;
        align-items: center;
        padding: 1rem;
        background-color: $baseColor;
        cursor: pointer;
    }
    a[data-cheatgroup="essentials"] {
        background-color: $cheatEssentials;
        .cheatGroupTitle {
            color: #6a6a6a;
        }
        .cheatGroupImage {
            .icon {
                fill: $uiYellow;
            }
        }
    }
    a[data-cheatgroup="health"] {
        background-color: $cheatHealth;
    }
    a[data-cheatgroup="wanted"] {
        background-color: $cheatWanted;
    }
    a[data-cheatgroup="weapons"] {
        background-color: $cheatWeapons;
    }
    a[data-cheatgroup="gameplay"] {
        background-color: $cheatGameplay;
    }
    a[data-cheatgroup="vehicles"] {
        background-color: $cheatVehicles;
    }
    a[data-cheatgroup="weather"] {
        background-color: $cheatWeather;
    }
    a[data-cheatgroup="misccheats"] {
        background-color: $cheatMisc;
    }
    .cheatGroupImage {
        display: inline-block;
        .icon {
            fill: #fff;
        }
    }
    .cheatGroupTitle {
        color: #fff;
        margin-left: 1rem;
        @include desktopMix {
            margin-left: 0.5rem;
        }
    }
    .cheatTable {
        display: none;
        width: 100%;
        >div{
            @include desktop{
                display: table-row-group;
            }
        }
        ul {
            display: block;
            padding: 0.5rem 1rem;
            transition: all 400ms;
            &:first-child {
                padding-top: 1rem;
            }
            &:last-child {
                padding-bottom: 1rem;
            }
            &:nth-of-type(odd) {
                background-color: $dullColor;
                @include desktop {
                    background-color: transparent;
                }
            }
            @include desktop {
                display: table-row;
                &:first-child {
                    li {
                        padding-top: 0.5rem;
                    }
                }
            }
            @include desktop {
                &:hover {
                    background-color: $dullColor !important;
                }
            }
        }
        li {
            display: block;
            font-size: 1.1rem;
            @include desktop {
                display: table-cell;
                padding: 0.3rem 1rem;
                font-size: 1rem;
                font-size: 0.95rem;
            }
            @include print{
                 letter-spacing: px(0.6);
            }
            &:nth-of-type(1) {
                @include desktopMixEx {
                    width: 50%;
                }
                @include print{
                    line-height: 1.5rem;
                }
            }
            &:nth-of-type(2) {
                font-weight: 500;
                @include print{
                 font-weight: 900;
                }
            }
        }
    }
}
.gameDesc{
    display: flex;
    padding: 0 1rem 1rem 1rem;
    @include desktopMixEx{
        padding-bottom: 2rem;
        height: px(80);
    }
    @include desktopMix{
        padding-left: 0;
        padding-right: 0;
    }
    @include desktop{
        max-width: px(790);
        margin-left: auto;
        margin-right: auto;
    }
    @include print{
        padding: 1rem 0;
    }
    >div{
        display: none;
        @include desktop{
            display: block;
        }
        @include print{
            display: block;
            font-size: 1.2rem;
        }
        &.show{
            display: block;
            width: 100%;
        }
        span.gamesInfoCloseHolder{
            display: block;
            text-align: center;
            padding: 1rem;
            @include desktopMixEx{
                display: inline-block;
                padding: 0;
            }
            @include print{
                padding: 0;
            }
        }
        strong{
            font-weight: 500;
        }
    }
    a{
        cursor: pointer;
    }
}
#gamesInfo{
    display: none;
    align-items: center;
    padding: 0.5rem;
    @include tablet{
        display: inline-flex;
    }
    @include desktop{
        padding: 0;
        display: none;
    }
    @include print{
        display: inline-flex;
        padding: 0;
        display: none;
    }
    &.close{
        display: none;
    }
}
#gamesInfoClose{
    @include desktop{
        display: none;
    }
    @include print{
        display: none;
    }
}
#gamesInfoAlt{
    display: flex;
    margin-left: auto;
    @include desktopMixEx{
        display: none;
    }
    @include print{
        display: none;
    }
}