/*-------------------- major DOM elements*/

body {
    min-height: 100vh;
    width: 100%;
    font-family: $baseFont;
    color: $fontColor;
}
#wrapper {
    width: 100%;
}

/*-------------------- icons default*/

// size
$iconSize: px(24);
// color
$iconColor: $fontColor;
a svg,
button svg,
label svg {
    pointer-events: none;
}
.icon {
    fill: $iconColor;
    width: $iconSize;
    height: $iconSize;
}
#svgHolder {
    display: none;
}

/*----------------------------------------------------------------------*/


/*body*/

#body {
    @extend %flex;
    flex-direction: column;
    overflow-y: scroll;
}

/*wrapper*/

#wrapper {
    flex: 1;
}

/*header*/

header {
    color: #fff;
    background-color: $baseColor;
    position: fixed;
    height: $barHeightMob;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 0;
    @include tablet {
        height: $barHeightTab;
    }
    @include desktop {
        height: $barHeight;
    }
    @include print{
        position: static;
    }
    >div {
        padding: 0 !important;
    }
    section {
        flex: 1;
    }
    .icon {
        fill: #fff;
    }
    a {
        display: inline-block;
    }
}
#logo {
    width: initial;
    display: inline-flex;
    align-items: center;
    height: 100%;
    a {
        display: inline-flex;
        align-items: center;
        height: 100%;
        cursor: pointer;
        padding: 0 1.5rem;
    }
    svg {
        width: px(90);
        fill: #ffffff;
        @include desktop{
            width: px(80);
        }
    }
    .logoMain{
      @include desktopMixEx{
          display: inline-block;
          transform: translateX(-109px);
      }
      @include print{
          display: inline-block;
          transform: translateX(-109px); 
      }
    }
    .logoSecondary{
      display: none;
      @include desktopMixEx{
          display: inline-block;
          transform: translateX(-109px);
      }
      @include print{
          display: inline-block;
          transform: translateX(-109px); 
      }
    }
}
#back,
#toggle {
    width: initial;
    height: 100%;
    display: flex;
    align-items: center;
    a {
        padding: 1rem 1.5rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }
    @include print{
        display: none;
    }
}
#back {
    @include desktop {
        padding-left: 2rem;
    }
}
#toggle {
    @include desktop {
        padding-right: 2rem;
    }
}

/*nav*/

nav {
    $slide: px(400);
    $slideM: px(-400);
    $slideTabLand: $slide;
    $slideMTabLand: $slideM;
    $slideTabPort: 50%;
    $slideMTabPort: -50%;
    $slideMob: 100%;
    $slideMMob: -100%;
    position: fixed;
    top: 0;
    right: $slideMMob;
    width: $slideMob;
    background-color: $baseColor;
    z-index: 50;
    padding-top: $barHeightMob;
    height: 100vh;
    transition: right 200ms ease;
    &.active {
        right: 0 !important;
    }
    @include tabletPortrait {
        width: $slideTabPort;
        right: $slideMTabPort;
    }
    @include tabletLandscape {
        width: $slideTabLand;
        right: $slideMTabLand;
    }
    @include desktop {
        width: $slide;
        right: $slideM;
    }
    @include tablet {
        padding-top: $barHeightTab;
    }
    @include desktop {
        padding-top: $barHeight;
    }
    @include print{
        display: none !important;
    }
    .constrainBox {
        position: relative;
        display: flex;
        height: 100%;
    }
    section {
        flex: 1;
    }
    p {
        padding-left: 1.5rem;
        color: $fontAltColor;
    }
    ul {
        display: block;
        max-height: calc(100vh - #{$barHeightMob});
        overflow: auto;
        @include tablet {
            max-height: calc(100vh - #{$barHeightTab});
        }
        @include desktop {
            max-height: calc(100vh - #{$barHeight});
        }
        li {
            display: block;
        }
        a {
            padding: 0.7rem 1.5rem;
            color: #fff;
            display: flex;
            align-items: center;
            &.active{
                >span{
                  border-color: $baseAltColor;   
                }
            }
            @include desktop {
                padding: 1rem 2rem;
            }
            >span {
                $dimentions: 3.7rem;
                $dimentionsTab: 4.5rem;
                $dimentionsDesk: 3.5rem;
                display: inline-block;
                height: $dimentions;
                width: $dimentions;
                border-radius: 100%;
                margin-right: 0.8rem;
                border: px(5) solid transparent;
                transition: border-color 400ms;
                @include tablet {
                    height: $dimentionsTab;
                    width: $dimentionsTab;
                }
                @include desktop {
                    height: $dimentionsDesk;
                    width: $dimentionsDesk;
                    border-width: px(4);
                }
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                    border-radius: 100%;
                }
            }
            h4 {
                display: inline-block;
            }
        }
    }
}

/*main*/

main {
    padding-top: $barHeightMob;
    padding-bottom: $barHeightMob;
    @include tablet {
        padding-top: $barHeightTab;
        padding-bottom: $barHeightTab;
    }
    @include desktop {
        padding-top: $barHeight;
        padding-bottom: $barHeight;
    }
    @include print{
        padding-top: 0;
    }
    div[box] {
        margin-top: 1rem;
        @include desktopMixEx {
            margin-top: 1.5rem;
        }
    }
    section.gameList {
        padding-top: 1rem;
        >div {
            padding: 0 1.5rem;
        }
    }
    .game {
        @include cardLayout;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
        @include tablet{
            max-width: 240px;
        }
        @include desktop{
            max-width: px(180);
        }
        .gameImage {
            $dimentions: 9rem;
            height: $dimentions;
            width: $dimentions;
            background-color: #000000;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 100%;
            border: px(5) solid #000000;
            img {
                width: 100%;
                height: auto;
                border-radius: 100%;
            }
        }
        .gameTitle {
            margin-top: 1rem;
        }
    }
}
section {
    @include gridBase;
}

/*footer*/

footer {
    height: px(40);
    background-color: $baseColor;
    .constrainBox {}
}