/* game tables */

//### Create
//+++

@mixin gameTables-shell {
    a[data-cheatgroup],
    a[data-cheatall] {
        display: flex;
        align-items: center;
        padding: 1rem;
        background-color: $baseColor;
        cursor: pointer;
        transition: background-color 400ms;
        h5 {
            transition: color 400ms;
            ;
        }
    }
    a[data-cheatgroup="essentials"] {
        background-color: $cheatEssentials;
    }
    a[data-cheatgroup="health"] {
        background-color: $cheatHealth;
    }
    a[data-cheatgroup="wanted"] {
        background-color: $cheatWanted;
    }
    a[data-cheatgroup="weapons"] {
        background-color: $cheatWeapons;
    }
    a[data-cheatgroup="gameplay"] {
        background-color: $cheatGameplay;
    }
    a[data-cheatgroup="vehicles"] {
        background-color: $cheatVehicles;
    }
    a[data-cheatgroup="weather"] {
        background-color: $cheatWeather;
    }
    a[data-cheatgroup="misccheats"] {
        background-color: $cheatMisc;
    }
    .cheatGroupImage {
        display: inline-block;
        .icon {
            fill: #fff;
            transition: fill 400ms;
        }
    }
    .cheatGroupTitle {
        color: #fff;
        margin-left: 1rem;
        @include desktopMix {
            margin-left: 0.5rem;
        }
    }
    .cheatTable {
        display: none;
        width: 100%;
        >div {
            @include desktop {
                display: table-row-group;
            }
        }
        ul {
            display: block;
            padding: 0.5rem 1rem;
            transition: all 400ms;
            &:first-child {
                padding-top: 1rem;
            }
            &:last-child {
                padding-bottom: 1rem;
            }
            &:nth-of-type(odd) {
                background-color: $dullColor;
                @include desktop {
                    background-color: transparent;
                }
            }
            @include desktop {
                display: table-row;
                &:first-child {
                    li {
                        padding-top: 0.5rem;
                    }
                }
            }
            @include desktop {
                &:hover {
                    background-color: $dullColor !important;
                }
            }
        }
        li {
            display: block;
            font-size: 1.1rem;
            @include desktop {
                display: table-cell;
                padding: 0.3rem 1rem;
                font-size: 1rem;
                font-size: 0.95rem;
            }
            @include print {
                letter-spacing: px(0.6);
            }
            &:nth-of-type(1) {
                @include desktopMixEx {
                    width: 50%;
                }
                @include print {
                    line-height: 1.5rem;
                }
            }
            &:nth-of-type(2) {
                font-weight: 500;
                @include print {
                    font-weight: 900;
                }
            }
        }
    }
}

@mixin gameTables-expand-shell {
    @include desktopMixEx {
        @include cardLayout;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    @include desktop {
        margin-bottom: 2rem;
    }
    a[data-cheatgroup] {
        cursor: default;
        @include desktop {
            padding: 0.7rem 1rem;
        }
        .icon {
            $dimentions: 1rem;
            height: $dimentions;
            width: $dimentions;
        }
    }
    a[data-cheatall] {
        display: none;
    }
    .cheatTable {
        display: block;
        @include desktop {
            display: table;
            margin-bottom: 0.5rem;
        }
    }
}

//---
//### Load
//+++

#gameContainer{
    @include gameTables-shell;
}

#gameContainer {
    .cheatGroupHolder{
        @include tabletPortrait{
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
    .cheatGroupSubHolder {
        &.hide,
        &[status="inapt"] {
            display: none;
        }
        &.expand {
            @include gameTables-expand-shell;
        }
        
    }
}

//---