/* logo */

//### Create
//+++

@mixin logo-shell {
    #logo {
        width: initial;
        display: inline-flex;
        align-items: center;
        height: 100%;
        a {
            display: inline-flex;
            align-items: center;
            height: 100%;
            cursor: pointer;
            padding: 0 1.5rem;
        }
        svg {
            width: px(45);
            @include desktop {
                width: px(40);
            }
        }
        circle{
            fill: #515151;
        }
        path{
            fill: $baseAltColor;
        }
        h1{
            display: none;
        }
    }
}

//---
//### Load
//+++

@include logo-shell;

//---